<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<web-app
	xmlns="http://java.sun.com/xml/ns/j2ee"
	version="2.5"
>
	<display-name>DialogueBranch External Variable Service Dummy 1.2.4</display-name>
	<description>
		This web application provides a dummy implementation of an External Variable Service.
	</description>
</web-app>
