/build/
/gradle.properties
/src/main/resources/service.properties
/src/main/resources/dialogues/dialogues.json
/src/main/resources/dialogues/*
!/src/main/resources/dialogues/README.md
!/src/main/resources/dialogues/bg/basic.json
!/src/main/resources/dialogues/en/basic.dlb
!/src/main/resources/dialogues/es/basic.json
!/src/main/resources/dialogues/et/basic.json
!/src/main/resources/dialogues/it/basic.json
!/src/main/resources/dialogues/nl/basic.json
!/src/main/resources/dialogues/zh/basic.json
