body {
    margin: 0px;
}

#body-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: var(--val-menu-bar-height);
}

#dlb-splash-logo {
    position: static;
	top: 100px;
	margin: auto;
    margin-top: 10px;
	width: 690px;
	height: 100px;
	background-image: url("../img/dlb-long.png");
	background-size: cover;
}

#dlb-splash-text {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    text-align: center;
}

/* Menu Bar */

#menu-bar {
    position: static;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
    display: block;
    background-color: aqua;
}

#menu-bar-list-dialogues {
    height: 40px;
}

/* Version Info */

#version-info {
    line-height: 130px;
}

/* Login Form */

#login-form {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    padding: 10px 20px 20px 20px;
}

td.login-table-spacer {
    width: 10px;
}

td.login-table-labels {
    width: 70px;
    vertical-align: center;
    text-align: right;
    padding-top: 10px;
}

td.login-table-forms {
    width: auto;
    vertical-align: top;
}

td.login-table-remember {
    width: 100%;
    text-align: right;
}

td.login-table-submit {
    width: auto;
    vertical-align: top;
    text-align: right;
}

/* Main Dialogue Testing */

#dialogue-container {
    top: 100px;
}



.dialogue-container-title-box {
    padding-top: 10px;
    height: 30px;
}

.box-title {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.dialogue-step-spacer-element {
    height: 24px;
}

.dialogue-step-filler-element {
    height: 50px;
}




/* Debug Console */

#toggle-debug-console {
    position: inline;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 1%;
}

#debug-console {
    position:relative;
    width: 100%;
    height: 200px;
	margin-left: 0px;
	z-index: 0;
	display: flex;
}

textarea#debug-textarea {
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    min-height: 200px;
    resize: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    background-color: rgb(169, 165, 165);
    outline: none !important;
    border-color: black;
    box-shadow: 0 0 1px black;
}

/* Dialogue Step Rendering */

.dialogue-step-statement-container {
    display: flex;
}

.dialogue-step-speaker {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.dialogue-step-statement {
    flex: 4;
    margin-bottom: 20px;
}

.dialogue-step-reply-container {
    position: relative;
    width: 100%;
}

.dialogue-step-reply-option-container {
    display: flex;
    color: rgb(151, 0, 0);
    font-weight: 600;
}

.dialogue-step-reply-number {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.dialogue-step-reply-basic {
    flex: 8;
}

/****************************************/
/********** The Navigation Bar **********/
/****************************************/

#navbar {
    background-color: var(--color-menu-bar);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--val-menu-bar-height);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .navbar-link {
    float: right;
    display: block;
    font-size: 1.2em;
    color: var(--color-menu-text);
    background-color: var(--color-menu-item);
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar-link:hover {
    background: var(--color-menu-item-highlight);
    color: var(--color-menu-text-highlight);
  }
  
  .navbar-logo {
    float: left;
    width: auto;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  #navbar label, #hamburger {
    display: none;
    user-select: none;
    -ms-user-select: none;
    float: right;
  }
  
  #navbar ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar ul li {
      display: inline-block;
      box-sizing: border-box;
      margin: 0px 0;
  }
  
  /* To make sure anchor links scroll to the right position (taking navbar into account)*/
  a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
  }