:root {
	--font-family-serif: 'Roboto Slab',Avenir Next W02,system-ui,-apple-system,Segoe UI,Roboto;
	--font-family-logo: 'Natural Log';

    /* Definition of colors */
    --color-black: rgb(0,0,0);
    --color-grey-light: rgb(200,200,200);
	--color-grey-lighter: rgb(240,240,240);
    --color-darken: rgba(0,0,0,0.5);
    --color-brighten: rgba(255,255,255,0.5);
    --color-orange-darker: rgb(119, 81, 24);
    --color-orange-dark: rgb(153,102,0);
    --color-orange-medium: rgb(179, 141, 83);
    --color-orange-light: rgb(246, 203, 139);
	--color-red-dark: rgb(101, 10, 10);
    
    /* Definition of color elements */
    --color-background: var(--color-grey-light);
    --color-box: var(--color-orange-darker);
    --color-lines: var(--color-orange-dark);
    --color-lines-highlight: var(--color-orange-light);
    --color-text: var(--color-black);
    --color-text-subtle: var(--color-orange-darker);
    --color-text-shadow: var(--color-black);
    --color-text-emphasis: var(--color-orange-dark);
    --color-text-highlight: var(--color-orange-light);

	/* Nav Bar */
	--color-menu-bar: rgba(250,250,250,1.0);
	--color-menu-item: rgba(250,250,250,1.0);
	--color-menu-item-highlight: rgb(240,240,240,1.0);
	--color-menu-text: rgb(0,0,0);
	--color-menu-text-highlight: rgb(30,30,30);
	--val-menu-bar-height: 80px;

	--color-speech-bubble: rgb(135, 124, 24);
}

body {
	background-color: var(--color-background);
	font-family: var(--font-family-serif);
	font-weight: 300;
	color: var(--color-text);
}

#dlb-splash-text {
    font-weight: 700;
}

/* Login Form */

#login-form {
    background-color: var(--color-box);
    border-radius: 20px;
}

input[type=text], input[type=password] {
	font-family: var(--font-family-sans);
	font-size: 0.8em;
	width: 100%;
	padding: 12px;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 16px;
	margin-bottom: 6px;
	resize: vertical;
}

.login-form-error-class {
	border: 2px solid red !important;
}

input[type=submit] {
	font-family: var(--font-family-sans);
	background-color: var(--color-orange-dark);
	color: white;
	padding: 12px 60px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 8px;
}

td.login-table-labels {
    font-weight: 700;
}

#login-error-message-box {
	border-radius: 20px;
	background-color: white !important;
	padding: 4px 20px 4px 20px;
	margin-top: 10px;
	font-size: 10pt;
	font-weight: 700;
	color: red;
	display: none;
}

/* Version Info */

#version-info {
    font-size: 10px;
	font-weight: 500;
}

/* Debug Console */

#debug-console {
    background-color: rgb(156, 141, 141);
}

.orange-button {
	font-family: var(--font-family-sans);
	background-color: var(--color-orange-dark);
	color: white;
	padding: 12px 60px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 8px;
}

.circle-button-small {
	border: none;
	color: white;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #04AA6D; /* Green */
}

#button-refresh-dialogue-list {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#button-resize-dialogue-list {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.medium-title {
    font-weight: 400;
}

.button-disabled {
	background-color: #787878 !important;
	cursor: not-allowed;
}

/* ---------------------------------------------------------- */
/* -------------------- Dialogue Browser -------------------- */
/* ---------------------------------------------------------- */

#dialogue-browser-container {
    float: left;
    height: 488px;
}

.browser-size-default {
	width: 20%;
}

.browser-size-extended {
	width: 30%;
}

#dialogue-browser-content {
	background-color: white;
	height: 470px;
	margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
	border-color: black;
    box-shadow: 0 0 1px black;
    overflow-x: auto;
    overflow-y: auto;
}

.dialogue-browser-entry {
	background-color: var(--color-grey-lighter);
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	font-size: 12px;
	font-weight: 700;
	color: var(--color-orange-darker);
}

.dialogue-browser-entry:hover {
	color: var(--color-orange-dark);
	cursor: pointer;
}

.dialogue-browser-empty-warning {
	font-size: 12px;
	font-weight: 600;
	font-style: italic;
	padding-top: 10px;
}

/* ---------------------------------------------------------- */
/* -------------------- Variable Browser -------------------- */
/* ---------------------------------------------------------- */

#variable-browser-container {
    float: left;
    height: 500px;
}

#button-refresh-variable-list {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#button-resize-variable-list {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#variable-browser-content {
	background-color: white;
	height: 470px;
	margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
	border-color: black;
    box-shadow: 0 0 1px black;
    overflow-x: auto;
    overflow-y: auto;
}

.variable-browser-entry {
    background-color: var(--color-grey-lighter);
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	font-size: 12px;
	font-weight: 400;
	color: var(--color-orange-darker);
	display: flex;
	min-width: 670px;
}

.variable-browser-header {
	background-color: var(--color-grey-light);
	font-weight: 900;
}

.variable-buttons-box {
	flex: 1;
	min-width: 70px;
}

.variable-entry-name {
    flex: 4;
	min-width: 200px;
}

.variable-entry-value {
    flex: 4;
	min-width: 200px;
}

.variable-entry-updated {
	flex: 4;
	min-width: 200px;
}

.variable-delete-icon {
	width: 20px;
	height: 20px;
	padding: 0px;
	background-color: var(--color-red-dark);
	border: none;
	color: white;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	cursor: pointer;
	border-radius: 50%;
}

/* ------------------------------------------------------------ */
/* -------------------- Interaction Tester -------------------- */
/* ------------------------------------------------------------ */

#interaction-tester-container {
    float: left;
    height: 500px;
}

/*

First, make sure there is some actualy content being added to the balloons box, otherwise it won't be visible at all (0 size).
The text content box should be scrollable, while the balloon box should always remain the same (max) size.

*/

#interaction-tester-content {
	position: relative;
	background-color: white;
	height: 470px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	border-color: black;
	box-shadow: 0 0 1px black;
}

#interaction-tester-content-text {
	visibility: visible;
	height: 470px;
	overflow-x: hidden;
	overflow-y: auto;
}

#interaction-tester-content-balloons {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	height: 470px;
	width: 100%;
}

.tester-size-default {
	width: 60%;
}

.tester-size-small {
	width: 50%
}

.tester-size-smaller {
	width: 40%;
}

#button-cancel-dialogue {
	background-color: #790606;
	float: right;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#interaction-tester-style-switcher {
	float: right;
	height: 30px;
	width: 63px; 
	background-color: rgb(89, 89, 89);
	border-radius: 15px;
	margin-right: 6px;
}

#button-interaction-style-text {
    float: right;
    width: 26px;
    height: 26px;
    margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#button-interaction-style-balloons {
	float: right;
    width: 26px;
    height: 26px;
    margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
}

/* Dialogue Step Rendering */

.dialogue-step-speaker {
    font-weight: 600;
}

.dialogue-step-reply-autoforward {
	font-family: var(--font-family-sans);
	background-color: var(--color-orange-dark);
	font-size: 14px;
	color: white;
	padding: 12px 60px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 8px;
	margin: auto;
	cursor: default;
}

/* Normal reply options that were chosen by the user */
div.user-selected-reply-option {
	color: grey;
}

/* Button reply options (e.g. 'Continue') that were chosen by the user */
button.user-selected-reply-option {
	background-color: var(--color-orange-medium);
}

.reply-option-with-listener {
    cursor: pointer;
}

div.reply-option-with-listener:hover {
    color: rgb(215, 31, 31);
}

.dialogue-finished-statement {
	font-weight: 700;
	font-style: italic;
	font-size: 16px;
	padding-top: 10px;
	padding-left: 10px;
}

/* ----------------------------------------------------------- */
/* -------------------- Balloons Renderer -------------------- */
/* ----------------------------------------------------------- */

.int-balloon-avatar {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}

.int-balloon-statement-balloon {
	position: absolute;
	bottom: 300px;
	right: 15%;
	width: 70%;
	font-weight: normal;
	font-size: 1.1em;
	color: #fff;
	background: var(--color-speech-bubble);
	padding: 20px;
	border-radius: 16px;
}
  
.int-balloon-statement-balloon::after {
	content: "";
	border: 20px solid transparent;
	position: absolute;
	border-top-color: var(--color-speech-bubble);
	border-bottom: 0;
	bottom: -20px; right: 50px;
	margin-left: -20px;
}

/** The text content element iside the balloon element. */
.int-balloon-statement-balloon-text {
	vertical-align: middle;
}

.int-balloon-replies-block {
	position: absolute;
	top: 180px;
	left: 10%;
	width: 70%;
	height: 200px;
	padding: 10px;
}
